body {
    color: white;
    background: linear-gradient(to bottom, #000000, #2b2a2a);
    min-height: 100vh; 
    margin: 0;
}
ul {

}
a {
    color: white;
}
img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: 5px solid rgb(59, 231, 96);
    
    object-fit: cover; 
    object-position: center 40%;
}

.center {
    text-align: center;
}

h2 {
    color: rgb(59, 231, 96);
}
